In [24]:
import pandas as pd

### fragment
grabbing and adding names from a dictionary

```python
teams_to_abbreviation
for ind in df.index:
    visitor = df['VISITOR_TEAM_ID'][ind]
    home = df['HOME_TEAM_ID'][ind]
    df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

### at the end

```python
grab a for_import_ml 
```

And return it as is for machine_learning

In [12]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
#                 .format(username='postgres',
#                         password='postgres',
#                         ipaddress='localhost',
#                         port=5432,
#                         dbname='flask_deploy'))

postgres_str = 'postgres://umydthrhevlwbv:a166611fc4fda747769900bb51cfb8cbd633cebe3ec13fdfc2180772a9d3bc8d@ec2-18-204-101-137.compute-1.amazonaws.com:5432/d9ugm948kmolua'



# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

In [13]:
import pandas as pd

In [14]:
df_2 = pd.read_sql("""
SELECT * FROM box_score_2021
""", con=engine)

In [15]:
df_2 = df_2[['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']]

In [58]:
df_2.tail(20)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
379,380,2021-02-12,DEN,OKC,97,95,2,1,0.460,0.700,0.250,24,41,0.404,0.765,0.313,26,49
380,381,2021-02-12,UTA,MIL,129,115,14,1,0.524,0.853,0.368,22,46,0.457,0.704,0.364,19,33
381,382,2021-02-12,LAL,MEM,115,105,10,1,0.506,0.697,0.200,26,47,0.488,0.789,0.414,31,33
382,383,2021-02-12,POR,CLE,129,110,19,1,0.518,0.909,0.371,16,45,0.437,0.703,0.348,20,41
383,384,2021-02-12,SAC,ORL,112,123,-11,0,0.518,0.737,0.364,33,42,0.505,0.800,0.441,25,42
384,385,2021-02-13,PHO,PHI,120,111,9,1,0.608,0.824,0.400,25,32,0.521,0.848,0.412,19,35
385,386,2021-02-13,ATL,IND,113,125,-12,0,0.478,0.783,0.290,35,38,0.506,0.852,0.387,34,43
386,387,2021-02-13,NYK,HOU,121,99,22,1,0.523,0.826,0.429,21,44,0.375,0.833,0.186,17,46
387,388,2021-02-13,GSW,BRK,117,134,-17,0,0.489,0.800,0.265,25,37,0.538,0.900,0.410,35,45
388,389,2021-02-13,UTA,MIA,112,94,18,1,0.459,0.759,0.261,26,48,0.407,0.706,0.333,24,43
389,390,2021-02-14,WAS,BOS,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
390,391,2021-02-14,TOR,MIN,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
391,392,2021-02-14,CHO,SAS,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
392,393,2021-02-14,DET,NOP,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
393,394,2021-02-14,OKC,MIL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
394,395,2021-02-14,DAL,POR,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
395,396,2021-02-14,PHO,ORL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
396,397,2021-02-14,SAC,MEM,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
397,398,2021-02-14,DEN,LAL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
398,399,2021-02-14,LAC,CLE,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

In [30]:
df_2.columns

Index(['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away',
       'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home',
       'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away'],
      dtype='object')

In [31]:
df_2.head(1)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47

In [32]:
df_2

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,385,2021-02-13,PHO,PHI,120,111,9,1,0.608,0.824,0.400,25,32,0.521,0.848,0.412,19,35
385,386,2021-02-13,ATL,IND,113,125,-12,0,0.478,0.783,0.290,35,38,0.506,0.852,0.387,34,43
386,387,2021-02-13,NYK,HOU,121,99,22,1,0.523,0.826,0.429,21,44,0.375,0.833,0.186,17,46
387,388,2021-02-13,GSW,BRK,117,134,-17,0,0.489,0.800,0.265,25,37,0.538,0.900,0.410,35,45
388,389,2021-02-13,UTA,MIA,112,94,18,1,0.459,0.759,0.261,26,48,0.407,0.706,0.333,24,43

In [16]:
full_schedule = pd.read_sql("""
SELECT * FROM full_schedule
""", con=engine)

In [17]:
full_schedule

,ID,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS
0,1,2020-12-22,GOLDEN STATE WARRIORS,99,BROOKLYN NETS,125,26,BRK,GSW,1
1,2,2020-12-22,LOS ANGELES CLIPPERS,116,LOS ANGELES LAKERS,109,-7,LAL,LAC,0
2,3,2020-12-23,CHARLOTTE HORNETS,114,CLEVELAND CAVALIERS,121,7,CLE,CHO,1
3,4,2020-12-23,NEW YORK KNICKS,107,INDIANA PACERS,121,14,IND,NYK,1
4,5,2020-12-23,MIAMI HEAT,107,ORLANDO MAGIC,113,6,ORL,MIA,1
...,...,...,...,...,...,...,...,...,...,...
535,536,2021-03-04,MILWAUKEE BUCKS,0,MEMPHIS GRIZZLIES,0,0,MEM,MIL,0
536,537,2021-03-04,OKLAHOMA CITY THUNDER,0,SAN ANTONIO SPURS,0,0,SAS,OKC,0
537,538,2021-03-04,MIAMI HEAT,0,NEW ORLEANS PELICANS,0,0,NOP,MIA,0
538,539,2021-03-04,GOLDEN STATE WARRIORS,0,PHOENIX SUNS,0,0,PHO,GSW,0
539,540,2021-03-04,SACRAMENTO KINGS,0,PORTLAND TRAIL BLAZERS,0,0,POR,SAC,0

In [35]:
full_schedule.iloc[1,5]

109

In [36]:
full_schedule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 10 columns):
ID                540 non-null int64
DATE              540 non-null object
VISITOR           540 non-null object
VISITOR_PTS       540 non-null int64
HOME              540 non-null object
HOME_PTS          540 non-null int64
MARGIN            540 non-null int64
HOME_ABBR         540 non-null object
VISITOR_ABBR      540 non-null object
HOME_TEAM_WINS    540 non-null int64
dtypes: int64(5), object(5)
memory usage: 42.3+ KB

In [18]:
full_schedule['DATE'] = pd.to_datetime(full_schedule['DATE'])  
df_2['DATE'] = pd.to_datetime(df_2['DATE'])  

#necessary to have this here.

In [38]:
df_2.tail(10)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
379,380,2021-02-12,DEN,OKC,97,95,2,1,0.460,0.700,0.250,24,41,0.404,0.765,0.313,26,49
380,381,2021-02-12,UTA,MIL,129,115,14,1,0.524,0.853,0.368,22,46,0.457,0.704,0.364,19,33
381,382,2021-02-12,LAL,MEM,115,105,10,1,0.506,0.697,0.200,26,47,0.488,0.789,0.414,31,33
382,383,2021-02-12,POR,CLE,129,110,19,1,0.518,0.909,0.371,16,45,0.437,0.703,0.348,20,41
383,384,2021-02-12,SAC,ORL,112,123,-11,0,0.518,0.737,0.364,33,42,0.505,0.800,0.441,25,42
384,385,2021-02-13,PHO,PHI,120,111,9,1,0.608,0.824,0.400,25,32,0.521,0.848,0.412,19,35
385,386,2021-02-13,ATL,IND,113,125,-12,0,0.478,0.783,0.290,35,38,0.506,0.852,0.387,34,43
386,387,2021-02-13,NYK,HOU,121,99,22,1,0.523,0.826,0.429,21,44,0.375,0.833,0.186,17,46
387,388,2021-02-13,GSW,BRK,117,134,-17,0,0.489,0.800,0.265,25,37,0.538,0.900,0.410,35,45
388,389,2021-02-13,UTA,MIA,112,94,18,1,0.459,0.759,0.261,26,48,0.407,0.706,0.333,24,43

In [19]:
import time
from datetime import datetime, date, time, timedelta
today = date.today()
date_time = today.strftime('%Y-%m-%d')
date_time

'2021-02-15'

In [40]:
date_time

'2021-02-14'

In [20]:
full_schedule = full_schedule.loc[full_schedule['DATE'] == date_time]

In [21]:
full_schedule

,ID,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS
399,400,2021-02-15,CHICAGO BULLS,0,INDIANA PACERS,0,0,IND,CHI,0
400,401,2021-02-15,HOUSTON ROCKETS,0,WASHINGTON WIZARDS,0,0,WAS,HOU,0
401,402,2021-02-15,ATLANTA HAWKS,0,NEW YORK KNICKS,0,0,NYK,ATL,0
402,403,2021-02-15,PHILADELPHIA 76ERS,0,UTAH JAZZ,0,0,UTA,PHI,0
403,404,2021-02-15,CLEVELAND CAVALIERS,0,GOLDEN STATE WARRIORS,0,0,GSW,CLE,0
404,405,2021-02-15,MIAMI HEAT,0,LOS ANGELES CLIPPERS,0,0,LAC,MIA,0
405,406,2021-02-15,BROOKLYN NETS,0,SACRAMENTO KINGS,0,0,SAC,BRK,0

In [43]:
full_schedule.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 389 to 398
Data columns (total 10 columns):
ID                10 non-null int64
DATE              10 non-null datetime64[ns]
VISITOR           10 non-null object
VISITOR_PTS       10 non-null int64
HOME              10 non-null object
HOME_PTS          10 non-null int64
MARGIN            10 non-null int64
HOME_ABBR         10 non-null object
VISITOR_ABBR      10 non-null object
HOME_TEAM_WINS    10 non-null int64
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 880.0+ bytes

In [44]:
full_schedule.columns

Index(['ID', 'DATE', 'VISITOR', 'VISITOR_PTS', 'HOME', 'HOME_PTS', 'MARGIN',
       'HOME_ABBR', 'VISITOR_ABBR', 'HOME_TEAM_WINS'],
      dtype='object')

In [45]:
full_schedule.iloc[0,1]

Timestamp('2021-02-14 00:00:00')

In [46]:
full_schedule

,ID,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS
389,390,2021-02-14,BOSTON CELTICS,0,WASHINGTON WIZARDS,0,0,WAS,BOS,0
390,391,2021-02-14,MINNESOTA TIMBERWOLVES,0,TORONTO RAPTORS,0,0,TOR,MIN,0
391,392,2021-02-14,SAN ANTONIO SPURS,0,CHARLOTTE HORNETS,0,0,CHO,SAS,0
392,393,2021-02-14,NEW ORLEANS PELICANS,0,DETROIT PISTONS,0,0,DET,NOP,0
393,394,2021-02-14,MILWAUKEE BUCKS,0,OKLAHOMA CITY THUNDER,0,0,OKC,MIL,0
394,395,2021-02-14,PORTLAND TRAIL BLAZERS,0,DALLAS MAVERICKS,0,0,DAL,POR,0
395,396,2021-02-14,ORLANDO MAGIC,0,PHOENIX SUNS,0,0,PHO,ORL,0
396,397,2021-02-14,MEMPHIS GRIZZLIES,0,SACRAMENTO KINGS,0,0,SAC,MEM,0
397,398,2021-02-14,LOS ANGELES LAKERS,0,DENVER NUGGETS,0,0,DEN,LAL,0
398,399,2021-02-14,CLEVELAND CAVALIERS,0,LOS ANGELES CLIPPERS,0,0,LAC,CLE,0

In [22]:
full_schedule = full_schedule.reset_index(drop=True)

In [48]:
full_schedule

,ID,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS
0,390,2021-02-14,BOSTON CELTICS,0,WASHINGTON WIZARDS,0,0,WAS,BOS,0
1,391,2021-02-14,MINNESOTA TIMBERWOLVES,0,TORONTO RAPTORS,0,0,TOR,MIN,0
2,392,2021-02-14,SAN ANTONIO SPURS,0,CHARLOTTE HORNETS,0,0,CHO,SAS,0
3,393,2021-02-14,NEW ORLEANS PELICANS,0,DETROIT PISTONS,0,0,DET,NOP,0
4,394,2021-02-14,MILWAUKEE BUCKS,0,OKLAHOMA CITY THUNDER,0,0,OKC,MIL,0
5,395,2021-02-14,PORTLAND TRAIL BLAZERS,0,DALLAS MAVERICKS,0,0,DAL,POR,0
6,396,2021-02-14,ORLANDO MAGIC,0,PHOENIX SUNS,0,0,PHO,ORL,0
7,397,2021-02-14,MEMPHIS GRIZZLIES,0,SACRAMENTO KINGS,0,0,SAC,MEM,0
8,398,2021-02-14,LOS ANGELES LAKERS,0,DENVER NUGGETS,0,0,DEN,LAL,0
9,399,2021-02-14,CLEVELAND CAVALIERS,0,LOS ANGELES CLIPPERS,0,0,LAC,CLE,0

In [23]:
for ind in full_schedule.index:
    empty_ = []
    len_of_d2 = len(df_2)
    count = len(df_2) + 1
    empty_.append(count)
    empty_.append(full_schedule['DATE'][ind])
    empty_.append(full_schedule['HOME_ABBR'][ind])
    empty_.append(full_schedule['VISITOR_ABBR'][ind])
    empty_.append(0)
    #4
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
#     df_2.loc[count - 1] = empty_
#     count = count + 1
    df_2.loc[len_of_d2] = empty_

In [24]:
df_2.tail(15)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
391,392,2021-02-14,CHO,SAS,110,122,-12,0,0.479,0.727,0.353,23,49,0.495,0.842,0.294,31,43
392,393,2021-02-14,DET,NOP,123,112,11,1,0.536,0.800,0.486,34,37,0.444,0.821,0.257,23,44
393,394,2021-02-14,OKC,MIL,114,109,5,1,0.474,0.563,0.417,32,49,0.464,0.667,0.342,24,47
394,395,2021-02-14,DAL,POR,118,121,-3,0,0.494,0.960,0.341,19,35,0.529,0.684,0.450,15,36
395,396,2021-02-14,PHO,ORL,109,90,19,1,0.446,0.938,0.324,24,59,0.371,0.818,0.171,13,48
396,397,2021-02-14,SAC,MEM,110,124,-14,0,0.500,0.769,0.242,22,33,0.532,0.789,0.429,31,43
397,398,2021-02-14,DEN,LAL,122,105,17,1,0.459,0.735,0.404,28,47,0.460,0.655,0.214,27,46
398,399,2021-02-14,LAC,CLE,128,111,17,1,0.477,0.861,0.433,31,47,0.462,0.720,0.280,25,40
399,400,2021-02-15,IND,CHI,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
400,401,2021-02-15,WAS,HOU,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
401,402,2021-02-15,NYK,ATL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
402,403,2021-02-15,UTA,PHI,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
403,404,2021-02-15,GSW,CLE,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
404,405,2021-02-15,LAC,MIA,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
405,406,2021-02-15,SAC,BRK,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

df_2

len(df_2)

# no need
mask = (df_2['DATE'] > '2021-01-21')

In [34]:
# no need
df_into_season = df_2.loc[mask]

#no need
mask2 = (df['DATE'] <= '2021-01-21')
df_second = df.loc[mask2]

len(df_into_season) + len(df_second)

TUTORIAL

```python
#already rean so read this
#run this to include abbreviations
for ind in sample_df.index:
    visitor = sample_df['VISITOR_TEAM_ID'][ind]
    home = sample_df['HOME_TEAM_ID'][ind]
    sample_df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    sample_df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

In [35]:
Tutorial, how to make a normalized list for plotting:

```python

margin_list = calculated_df2['margin'].tolist()
max(margin_list)
11.594047619047627
norm = [float(i)/max(margin_list) for i in margin_list]
calculated_df2['normMargin'] = norm
```

In [25]:
for_import_ml_df_columns = ['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'HOME_TEAM_WINS']
for_import_ml_df= pd.DataFrame(columns=for_import_ml_df_columns)
#initialize empty dataframe

In [52]:
This is calculating something else with the shortened season but I want the averages so I need something that is prior to today's date.

SyntaxError: invalid syntax (<ipython-input-52-2f4a79fa502f>, line 1)

In [53]:
What are you trying to do?
* Make sure this is good: 
* Make sure that I can get the last ten games played

```python

.tail
```

SyntaxError: invalid syntax (<ipython-input-53-ff5980aab33c>, line 2)

In [151]:
TUTORIAL
```python

df_2.loc[df_2['PTS_home'] != 0]
```

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,380,2021-02-12,DEN,OKC,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
380,381,2021-02-12,UTA,MIL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
381,382,2021-02-12,LAL,MEM,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
382,383,2021-02-12,POR,CLE,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
383,384,2021-02-12,SAC,ORL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

In [26]:
df_into_season = df_2.copy()
df_into_season['DATE'] = pd.to_datetime(df_into_season['DATE'])

In [70]:
df_into_season

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,405,2021-02-14,DAL,POR,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
405,406,2021-02-14,PHO,ORL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
406,407,2021-02-14,SAC,MEM,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
407,408,2021-02-14,DEN,LAL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
408,409,2021-02-14,LAC,CLE,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

In [59]:
df_into_season.loc[1]
#need to double check this

In [32]:
df_into_season.tail(10)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,380,2021-02-12,DEN,OKC,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
380,381,2021-02-12,UTA,MIL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
381,382,2021-02-12,LAL,MEM,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
382,383,2021-02-12,POR,CLE,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
383,384,2021-02-12,SAC,ORL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

In [69]:
calculated_df_columns = ['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'HOME_TEAM_WINS']
calculated_df= pd.DataFrame(columns=calculated_df_columns)
#initialize empty dataframe

In [78]:
df_into_season

'CHI'

In [84]:
df_into_season1 = df_into_season.head(40)

In [89]:
for ind in df_into_season.head(60).index:
    date = df_into_season['DATE'][ind]
    home_team_abbr = df_into_season['HOME_ABBR'][ind]
    visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
    home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
    mask = (df_into_season['DATE'] < date)
    new_ = df_into_season.loc[mask]

,HOME_ABBR,ID,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,LAC,42.0,98.5,112.5,-14.0,0.5,0.438,0.8625,0.3185,22.5,41.0,0.455,0.8565,0.3415,23.5,46.5

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away',
       'HOME_TEAM_WINS'],
      dtype='object')

In [27]:
for ind in df_into_season.head(78).index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
        home_df2_groupby = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()

In [33]:
visitor_as_home_df2_groupby_df

,HOME_ABBR,ID,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,MIA,198.642857,106.857143,108.5,-1.642857,0.5,0.469929,0.780214,0.3865,25.571429,40.928571,0.437214,0.797929,0.373286,24.357143,44.214286

In [71]:
for ind in df_into_season.index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
        home_df2_groupby_df = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby_df = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()
        home_pts = 0.75 * home_df2_groupby_df.loc[0]['PTS_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['PTS_away']
        home_fg3_pct = 0.75 * home_df2_groupby_df.loc[0]['FG3_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG3_PCT_away']
        home_ast = 0.75 * home_df2_groupby_df.loc[0]['AST_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['AST_away']
        home_reb = 0.75 * home_df2_groupby_df.loc[0]['REB_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['REB_away']
        home_fg_pct = 0.75 * home_df2_groupby_df.loc[0]['FG_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG_PCT_home']
        home_ft_pct = 0.75 * home_df2_groupby_df.loc[0]['FT_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FT_PCT_home'] 
        visitor_pts = 0.75 * visitor_df2_groupby_df.loc[0]['PTS_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['PTS_home']
    
        visitor_fg3_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG3_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG3_PCT_away']
        visitor_ast = 0.75 * visitor_df2_groupby_df.loc[0]['AST_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['AST_home']
        visitor_reb = 0.75 * visitor_df2_groupby_df.loc[0]['REB_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['REB_home']
        visitor_fg_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG_PCT_home']
        visitor_ft_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FT_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FT_PCT_home']

In [27]:
for ind in df_into_season.index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
        home_df2_groupby_df = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby_df = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()
        home_pts = 0.75 * home_df2_groupby_df.loc[0]['PTS_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['PTS_away']
        home_fg3_pct = 0.75 * home_df2_groupby_df.loc[0]['FG3_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG3_PCT_away']
        home_ast = 0.75 * home_df2_groupby_df.loc[0]['AST_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['AST_away']
        home_reb = 0.75 * home_df2_groupby_df.loc[0]['REB_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['REB_away']
        home_fg_pct = 0.75 * home_df2_groupby_df.loc[0]['FG_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG_PCT_home']
        home_ft_pct = 0.75 * home_df2_groupby_df.loc[0]['FT_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FT_PCT_home'] 
        visitor_pts = 0.75 * visitor_df2_groupby_df.loc[0]['PTS_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['PTS_home']
    
        visitor_fg3_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG3_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG3_PCT_away']
        visitor_ast = 0.75 * visitor_df2_groupby_df.loc[0]['AST_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['AST_home']
        visitor_reb = 0.75 * visitor_df2_groupby_df.loc[0]['REB_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['REB_home']
        visitor_fg_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG_PCT_home']
        visitor_ft_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FT_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FT_PCT_home']
        margin = home_pts - visitor_pts
        empty_ = []
        empty_.append(date)
        empty_.append(home_team_abbr)
        empty_.append(visitor_team_abbr)
        empty_.append(margin)
        empty_.append(home_pts)
        empty_.append(visitor_pts)
        empty_.append(home_fg_pct)
        empty_.append(home_ft_pct)
        empty_.append(home_fg3_pct)
        empty_.append(home_ast)
        empty_.append(home_reb)
        empty_.append(visitor_fg_pct)
        empty_.append(visitor_ft_pct)
        empty_.append(visitor_fg3_pct)
        empty_.append(visitor_ast)
        empty_.append(visitor_reb)
        empty_.append(home_team_wins)
        length_of_average_playoffs_df = len(for_import_ml_df)
        for_import_ml_df.loc[length_of_average_playoffs_df] = empty_

In [28]:
for_import_ml_df

,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-01-02,IND,NYK,18.687500,117.312500,98.625000,0.467562,0.794125,0.334937,28.375000,43.562500,0.429125,0.733750,0.335375,23.000000,46.875000,0
1,2021-01-02,ORL,OKC,1.125000,107.541667,106.416667,0.430917,0.735750,0.313708,20.833333,45.458333,0.452417,0.727000,0.295167,24.166667,50.833333,0
2,2021-01-02,PHI,CHO,-6.041667,106.458333,112.500000,0.424500,0.810375,0.298500,21.708333,49.541667,0.483917,0.660292,0.385125,29.208333,42.500000,1
3,2021-01-02,ATL,CLE,15.104167,127.312500,112.208333,0.475938,0.864250,0.454625,28.625000,46.375000,0.469333,0.627708,0.462125,26.375000,46.750000,0
4,2021-01-02,NOP,TOR,-3.375000,99.125000,102.500000,0.396562,0.721500,0.232500,16.812500,53.562500,0.409875,0.779250,0.345875,25.750000,45.875000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,2021-02-15,NYK,ATL,-9.923295,104.281250,114.204545,0.449656,0.761000,0.363656,20.843750,45.656250,0.453294,0.815097,0.337141,24.125758,46.287879,0
324,2021-02-15,UTA,PHI,3.292582,115.549451,112.256868,0.453632,0.790554,0.384089,23.858516,49.137363,0.473549,0.787536,0.360580,21.967033,46.032967,0
325,2021-02-15,GSW,CLE,12.160714,114.250000,102.089286,0.466271,0.780887,0.370929,27.433333,44.337500,0.441125,0.699893,0.335893,22.517857,43.339286,0
326,2021-02-15,LAC,MIA,9.959112,115.735897,105.776786,0.475423,0.831332,0.413312,24.987179,44.607692,0.455357,0.781054,0.337196,25.267857,42.857143,0
327,2021-02-15,SAC,BRK,-8.521875,113.712500,122.234375,0.480934,0.757569,0.366538,26.000000,42.359375,0.499219,0.836969,0.392125,27.421875,42.968750,0

In [8]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
#                 .format(username='postgres',
#                         password='postgres',
#                         ipaddress='localhost',
#                         port=5432,
#                         dbname='flask_deploy'))

postgres_str = 'postgres://umydthrhevlwbv:a166611fc4fda747769900bb51cfb8cbd633cebe3ec13fdfc2180772a9d3bc8d@ec2-18-204-101-137.compute-1.amazonaws.com:5432/d9ugm948kmolua'



# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

In [30]:
end_a = len(for_import_ml_df) + 1
a_ = list(range(1, end_a))
for_import_ml_df['ID'] = a_

In [78]:
for_import_ml_df.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away',
       'HOME_TEAM_WINS', 'ID'],
      dtype='object')

In [31]:
for_import_ml_df = for_import_ml_df[['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away',
       'HOME_TEAM_WINS']]

In [88]:
Base = automap_base()
Base.prepare(engine, reflect=True)
print(Base.classes.keys())

['presidents', 'pets', 'box_score_2021', 'full_schedule', 'for_import_ml', 'predicted_values']

In [32]:
for_import_ml_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,1,2021-01-02,IND,NYK,18.687500,117.312500,98.625000,0.467562,0.794125,0.334937,28.375000,43.562500,0.429125,0.733750,0.335375,23.000000,46.875000,0
1,2,2021-01-02,ORL,OKC,1.125000,107.541667,106.416667,0.430917,0.735750,0.313708,20.833333,45.458333,0.452417,0.727000,0.295167,24.166667,50.833333,0
2,3,2021-01-02,PHI,CHO,-6.041667,106.458333,112.500000,0.424500,0.810375,0.298500,21.708333,49.541667,0.483917,0.660292,0.385125,29.208333,42.500000,1
3,4,2021-01-02,ATL,CLE,15.104167,127.312500,112.208333,0.475938,0.864250,0.454625,28.625000,46.375000,0.469333,0.627708,0.462125,26.375000,46.750000,0
4,5,2021-01-02,NOP,TOR,-3.375000,99.125000,102.500000,0.396562,0.721500,0.232500,16.812500,53.562500,0.409875,0.779250,0.345875,25.750000,45.875000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,324,2021-02-15,NYK,ATL,-9.923295,104.281250,114.204545,0.449656,0.761000,0.363656,20.843750,45.656250,0.453294,0.815097,0.337141,24.125758,46.287879,0
324,325,2021-02-15,UTA,PHI,3.292582,115.549451,112.256868,0.453632,0.790554,0.384089,23.858516,49.137363,0.473549,0.787536,0.360580,21.967033,46.032967,0
325,326,2021-02-15,GSW,CLE,12.160714,114.250000,102.089286,0.466271,0.780887,0.370929,27.433333,44.337500,0.441125,0.699893,0.335893,22.517857,43.339286,0
326,327,2021-02-15,LAC,MIA,9.959112,115.735897,105.776786,0.475423,0.831332,0.413312,24.987179,44.607692,0.455357,0.781054,0.337196,25.267857,42.857143,0
327,328,2021-02-15,SAC,BRK,-8.521875,113.712500,122.234375,0.480934,0.757569,0.366538,26.000000,42.359375,0.499219,0.836969,0.392125,27.421875,42.968750,0

In [20]:
date_time

'2021-02-14'

In [ ]:
historic_df = pd.read_sql("""
SELECT * FROM predicted_values
""", con=engine)

In [ ]:
historic_df = historic_df.round(3)

In [ ]:
historic_df.to_sql('historic', engine, if_exists='replace', index=False)

In [8]:
with engine.connect() as con:
    con.execute('ALTER TABLE historic ADD PRIMARY KEY ("ID");')

In [33]:
for_import_ml_df = for_import_ml_df.round(3)

In [34]:
for_import_ml_df = for_import_ml_df.loc[for_import_ml_df['DATE'] == date_time]

In [92]:
for_import_ml_df = for_import_ml_df.loc[for_import_ml_df['ID'] >= 322]

In [35]:
for_import_ml_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
321,322,2021-02-15,IND,CHI,-3.522,113.204,116.726,0.469,0.781,0.373,26.104,42.233,0.490,0.794,0.377,27.149,43.894,0
322,323,2021-02-15,WAS,HOU,5.130,114.667,109.536,0.466,0.762,0.331,24.875,44.542,0.449,0.745,0.352,23.468,43.909,0
323,324,2021-02-15,NYK,ATL,-9.923,104.281,114.205,0.450,0.761,0.364,20.844,45.656,0.453,0.815,0.337,24.126,46.288,0
324,325,2021-02-15,UTA,PHI,3.293,115.549,112.257,0.454,0.791,0.384,23.859,49.137,0.474,0.788,0.361,21.967,46.033,0
325,326,2021-02-15,GSW,CLE,12.161,114.250,102.089,0.466,0.781,0.371,27.433,44.338,0.441,0.700,0.336,22.518,43.339,0
326,327,2021-02-15,LAC,MIA,9.959,115.736,105.777,0.475,0.831,0.413,24.987,44.608,0.455,0.781,0.337,25.268,42.857,0
327,328,2021-02-15,SAC,BRK,-8.522,113.712,122.234,0.481,0.758,0.367,26.000,42.359,0.499,0.837,0.392,27.422,42.969,0

In [37]:
for_import_ml_df.to_sql('for_import_ml', engine, if_exists='replace', index=False)

In [38]:
with engine.connect() as con:
    con.execute('ALTER TABLE for_import_ml ADD PRIMARY KEY ("ID");')

In [ ]:
#https://stackoverflow.com/questions/30867390/python-pandas-to-sql-how-to-create-a-table-with-a-primary-key.. hmm