### fragment
grabbing and adding names from a dictionary

```python
teams_to_abbreviation
for ind in df.index:
    visitor = df['VISITOR_TEAM_ID'][ind]
    home = df['HOME_TEAM_ID'][ind]
    df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

### at the end

```python
grab a for_import_ml 
```

And return it as is for machine_learning

In [ ]:
1. sequence connecting to database

In [30]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
#                 .format(username='postgres',
#                         password='postgres',
#                         ipaddress='localhost',
#                         port=5432,
#                         dbname='flask_deploy'))

postgres_str = 'postgres://umydthrhevlwbv:a166611fc4fda747769900bb51cfb8cbd633cebe3ec13fdfc2180772a9d3bc8d@ec2-18-204-101-137.compute-1.amazonaws.com:5432/d9ugm948kmolua'



# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

2. reading from database
3. setting the columns straight
4. reading from full_schedule, used for matching purposes
5. make sure that the date types are defined
6. I only want specific dates to be returned when matched
7. the date is the specific day

In [31]:
df_2 = pd.read_sql("""
SELECT * FROM box_score_2021
""", con=engine)

In [32]:
df_2 = df_2[['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'PTS_home', 'PTS_away', 'MARGIN', 'HOME_TEAM_WINS', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away']]

In [33]:
full_schedule = pd.read_sql("""
SELECT * FROM full_schedule
""", con=engine)

In [34]:
full_schedule['DATE'] = pd.to_datetime(full_schedule['DATE'])  
df_2['DATE'] = pd.to_datetime(df_2['DATE'])  

#necessary to have this here.

In [35]:
import time
from datetime import datetime, date, time, timedelta
today = date.today()
date_time = today.strftime('%Y-%m-%d')
date_time

'2021-02-19'

In [36]:
full_schedule = full_schedule.loc[full_schedule['DATE'] == date_time]

In [37]:
full_schedule

,ID,DATE,VISITOR,VISITOR_PTS,HOME,HOME_PTS,MARGIN,HOME_ABBR,VISITOR_ABBR,HOME_TEAM_WINS
428,429,2021-02-19,DENVER NUGGETS,0,CHARLOTTE HORNETS,0,0,CHO,DEN,0
429,430,2021-02-19,GOLDEN STATE WARRIORS,0,ORLANDO MAGIC,0,0,ORL,GSW,0
430,431,2021-02-19,CHICAGO BULLS,0,PHILADELPHIA 76ERS,0,0,PHI,CHI,0
431,432,2021-02-19,ATLANTA HAWKS,0,BOSTON CELTICS,0,0,BOS,ATL,0
432,433,2021-02-19,DETROIT PISTONS,0,MEMPHIS GRIZZLIES,0,0,MEM,DET,0
433,434,2021-02-19,OKLAHOMA CITY THUNDER,0,MILWAUKEE BUCKS,0,0,MIL,OKC,0
434,435,2021-02-19,TORONTO RAPTORS,0,MINNESOTA TIMBERWOLVES,0,0,MIN,TOR,0
435,436,2021-02-19,PHOENIX SUNS,0,NEW ORLEANS PELICANS,0,0,NOP,PHO,0
436,437,2021-02-19,DALLAS MAVERICKS,0,HOUSTON ROCKETS,0,0,HOU,DAL,0
437,438,2021-02-19,UTAH JAZZ,0,LOS ANGELES CLIPPERS,0,0,LAC,UTA,0

In [38]:
full_schedule = full_schedule.reset_index(drop=True)

In [39]:
for ind in full_schedule.index:
    empty_ = []
    len_of_d2 = len(df_2)
    count = len(df_2) + 1
    empty_.append(count)
    empty_.append(full_schedule['DATE'][ind])
    empty_.append(full_schedule['HOME_ABBR'][ind])
    empty_.append(full_schedule['VISITOR_ABBR'][ind])
    empty_.append(0)
    #4
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
    empty_.append(0)
#     df_2.loc[count - 1] = empty_
#     count = count + 1
    df_2.loc[len_of_d2] = empty_

In [11]:
df_2.tail(15)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
394,395,2021-02-14,DAL,POR,118,121,-3,0,0.494,0.960,0.341,19,35,0.529,0.684,0.450,15,36
395,396,2021-02-14,PHO,ORL,109,90,19,1,0.446,0.938,0.324,24,59,0.371,0.818,0.171,13,48
396,397,2021-02-14,SAC,MEM,110,124,-14,0,0.500,0.769,0.242,22,33,0.532,0.789,0.429,31,43
397,398,2021-02-14,DEN,LAL,122,105,17,1,0.459,0.735,0.404,28,47,0.460,0.655,0.214,27,46
398,399,2021-02-14,LAC,CLE,128,111,17,1,0.477,0.861,0.433,31,47,0.462,0.720,0.280,25,40
399,400,2021-02-19,CHO,DEN,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
400,401,2021-02-19,ORL,GSW,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
401,402,2021-02-19,PHI,CHI,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
402,403,2021-02-19,BOS,ATL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
403,404,2021-02-19,MEM,DET,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
404,405,2021-02-19,MIL,OKC,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
405,406,2021-02-19,MIN,TOR,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
406,407,2021-02-19,NOP,PHO,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
407,408,2021-02-19,HOU,DAL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
408,409,2021-02-19,LAC,UTA,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

TUTORIAL

```python
#already rean so read this
#run this to include abbreviations
for ind in sample_df.index:
    visitor = sample_df['VISITOR_TEAM_ID'][ind]
    home = sample_df['HOME_TEAM_ID'][ind]
    sample_df['VISITOR_ABBR'][ind] = team_to_abbreviation[visitor]
    sample_df['HOME_ABBR'][ind] = team_to_abbreviation[home]
```

Tutorial, how to make a normalized list for plotting:

```python

margin_list = calculated_df2['margin'].tolist()
max(margin_list)
11.594047619047627
norm = [float(i)/max(margin_list) for i in margin_list]
calculated_df2['normMargin'] = norm
```


TUTORIAL
```python

df_2.loc[df_2['PTS_home'] != 0]
```

In [40]:
for_import_ml_df_columns = ['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'HOME_TEAM_WINS']
for_import_ml_df= pd.DataFrame(columns=for_import_ml_df_columns)
#initialize empty dataframe

In [41]:
df_into_season = df_2.copy()
df_into_season['DATE'] = pd.to_datetime(df_into_season['DATE'])

In [70]:
df_into_season

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,1,2020-12-22,BRK,GSW,125,99,26,1,0.457,0.813,0.429,24,57,0.374,0.652,0.303,26,47
1,2,2020-12-22,LAL,LAC,109,116,-7,0,0.469,0.774,0.310,22,45,0.473,0.737,0.350,22,40
2,3,2020-12-23,CLE,CHO,121,114,7,1,0.529,0.750,0.467,34,50,0.500,0.533,0.364,29,32
3,4,2020-12-23,IND,NYK,121,107,14,1,0.489,0.724,0.235,28,50,0.459,0.739,0.429,25,40
4,5,2020-12-23,ORL,MIA,113,107,6,1,0.477,0.633,0.357,23,41,0.506,0.842,0.350,25,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,405,2021-02-14,DAL,POR,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
405,406,2021-02-14,PHO,ORL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
406,407,2021-02-14,SAC,MEM,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
407,408,2021-02-14,DEN,LAL,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0
408,409,2021-02-14,LAC,CLE,0,0,0,0,0.000,0.000,0.000,0,0,0.000,0.000,0.000,0,0

In [14]:
df_into_season.loc[1]
#need to double check this

ID                                  2
DATE              2020-12-22 00:00:00
HOME_ABBR                         LAL
VISITOR_ABBR                      LAC
PTS_home                          109
PTS_away                          116
MARGIN                             -7
HOME_TEAM_WINS                      0
FG_PCT_home                     0.469
FT_PCT_home                     0.774
FG3_PCT_home                     0.31
AST_home                           22
REB_home                           45
FG_PCT_away                     0.473
FT_PCT_away                     0.737
FG3_PCT_away                     0.35
AST_away                           22
REB_away                           40
Name: 1, dtype: object

In [15]:
df_into_season.tail(10)

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
399,400,2021-02-19,CHO,DEN,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
400,401,2021-02-19,ORL,GSW,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
401,402,2021-02-19,PHI,CHI,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
402,403,2021-02-19,BOS,ATL,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
403,404,2021-02-19,MEM,DET,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
404,405,2021-02-19,MIL,OKC,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
405,406,2021-02-19,MIN,TOR,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
406,407,2021-02-19,NOP,PHO,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
407,408,2021-02-19,HOU,DAL,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0
408,409,2021-02-19,LAC,UTA,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0,0

In [89]:
# for future troubleshooting
for ind in df_into_season.head(60).index:
    date = df_into_season['DATE'][ind]
    home_team_abbr = df_into_season['HOME_ABBR'][ind]
    visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
    home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
    mask = (df_into_season['DATE'] < date)
    new_ = df_into_season.loc[mask]

,HOME_ABBR,ID,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,LAC,42.0,98.5,112.5,-14.0,0.5,0.438,0.8625,0.3185,22.5,41.0,0.455,0.8565,0.3415,23.5,46.5

In [27]:
# for future troubleshooting

for ind in df_into_season.head(78).index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
        home_df2_groupby = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()

In [33]:
# for future troubleshooting
visitor_as_home_df2_groupby_df

,HOME_ABBR,ID,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
0,MIA,198.642857,106.857143,108.5,-1.642857,0.5,0.469929,0.780214,0.3865,25.571429,40.928571,0.437214,0.797929,0.373286,24.357143,44.214286

In [71]:
# for future troubleshooting

for ind in df_into_season.index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
        home_df2_groupby_df = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby_df = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()
        home_pts = 0.75 * home_df2_groupby_df.loc[0]['PTS_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['PTS_away']
        home_fg3_pct = 0.75 * home_df2_groupby_df.loc[0]['FG3_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG3_PCT_away']
        home_ast = 0.75 * home_df2_groupby_df.loc[0]['AST_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['AST_away']
        home_reb = 0.75 * home_df2_groupby_df.loc[0]['REB_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['REB_away']
        home_fg_pct = 0.75 * home_df2_groupby_df.loc[0]['FG_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG_PCT_home']
        home_ft_pct = 0.75 * home_df2_groupby_df.loc[0]['FT_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FT_PCT_home'] 
        visitor_pts = 0.75 * visitor_df2_groupby_df.loc[0]['PTS_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['PTS_home']
    
        visitor_fg3_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG3_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG3_PCT_away']
        visitor_ast = 0.75 * visitor_df2_groupby_df.loc[0]['AST_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['AST_home']
        visitor_reb = 0.75 * visitor_df2_groupby_df.loc[0]['REB_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['REB_home']
        visitor_fg_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG_PCT_home']
        visitor_ft_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FT_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FT_PCT_home']

In [47]:
for ind in df_into_season.head(80).index:
    if ind > 77:
        
        date = df_into_season['DATE'][ind]
        home_team_abbr = df_into_season['HOME_ABBR'][ind]
        visitor_team_abbr = df_into_season['VISITOR_ABBR'][ind]
        home_team_wins = df_into_season['HOME_TEAM_WINS'][ind]
        mask = (df_into_season['DATE'] < date)
        new_ = df_into_season.loc[mask]
        home_df2 = new_.loc[new_['HOME_ABBR'] == home_team_abbr]
        home_as_visitor_df2 = new_.loc[new_['VISITOR_ABBR'] == home_team_abbr]
    
        home_df2_groupby_df = home_df2.groupby(['HOME_ABBR']).mean().reset_index()

        home_as_visitor_df2_groupby_df = home_as_visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()

    
        visitor_df2= new_.loc[new_['VISITOR_ABBR'] == visitor_team_abbr]
        visitor_as_home_df2 = new_.loc[new_['HOME_ABBR'] == visitor_team_abbr]
        
#might consider later in the weighted average
        visitor_df2_groupby_df = visitor_df2.groupby(['VISITOR_ABBR']).mean().reset_index()
    
        visitor_as_home_df2_groupby_df = visitor_as_home_df2.groupby(['HOME_ABBR']).mean().reset_index()
        home_pts = 0.75 * home_df2_groupby_df.loc[0]['PTS_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['PTS_away']
        home_fg3_pct = 0.75 * home_df2_groupby_df.loc[0]['FG3_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG3_PCT_away']
        home_ast = 0.75 * home_df2_groupby_df.loc[0]['AST_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['AST_away']
        home_reb = 0.75 * home_df2_groupby_df.loc[0]['REB_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['REB_away']
        home_fg_pct = 0.75 * home_df2_groupby_df.loc[0]['FG_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FG_PCT_home']
        home_ft_pct = 0.75 * home_df2_groupby_df.loc[0]['FT_PCT_home'] + 0.25 * home_as_visitor_df2_groupby_df.loc[0]['FT_PCT_home'] 
        visitor_pts = 0.75 * visitor_df2_groupby_df.loc[0]['PTS_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['PTS_home']
    
        visitor_fg3_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG3_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG3_PCT_away']
        visitor_ast = 0.75 * visitor_df2_groupby_df.loc[0]['AST_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['AST_home']
        visitor_reb = 0.75 * visitor_df2_groupby_df.loc[0]['REB_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['REB_home']
        visitor_fg_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FG_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FG_PCT_home']
        visitor_ft_pct = 0.75 * visitor_df2_groupby_df.loc[0]['FT_PCT_away'] + 0.25 * visitor_as_home_df2_groupby_df.loc[0]['FT_PCT_home']
        margin = home_pts - visitor_pts
        empty_ = []
        empty_.append(date)
        empty_.append(home_team_abbr)
        empty_.append(visitor_team_abbr)
        empty_.append(margin)
        empty_.append(home_pts)
        empty_.append(visitor_pts)
        empty_.append(home_fg_pct)
        empty_.append(home_ft_pct)
        empty_.append(home_fg3_pct)
        empty_.append(home_ast)
        empty_.append(home_reb)
        empty_.append(visitor_fg_pct)
        empty_.append(visitor_ft_pct)
        empty_.append(visitor_fg3_pct)
        empty_.append(visitor_ast)
        empty_.append(visitor_reb)
        empty_.append(home_team_wins)
        length_of_average_playoffs_df = len(for_import_ml_df)
        for_import_ml_df.loc[length_of_average_playoffs_df] = empty_

In [48]:
visitor_df2[0:5]

,ID,DATE,HOME_ABBR,VISITOR_ABBR,PTS_home,PTS_away,MARGIN,HOME_TEAM_WINS,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away
20,21,2020-12-26,CHO,OKC,107,109,-2,0,0.398,0.625,0.406,27,47,0.455,0.792,0.278,25,54

In [43]:
for_import_ml_df

,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-01-02,IND,NYK,18.687500,117.312500,98.625000,0.467562,0.794125,0.334937,28.375000,43.562500,0.429125,0.733750,0.335375,23.000000,46.875000,0
1,2021-01-02,ORL,OKC,1.125000,107.541667,106.416667,0.430917,0.735750,0.313708,20.833333,45.458333,0.452417,0.727000,0.295167,24.166667,50.833333,0
2,2021-01-02,PHI,CHO,-6.041667,106.458333,112.500000,0.424500,0.810375,0.298500,21.708333,49.541667,0.483917,0.660292,0.385125,29.208333,42.500000,1
3,2021-01-02,ATL,CLE,15.104167,127.312500,112.208333,0.475938,0.864250,0.454625,28.625000,46.375000,0.469333,0.627708,0.462125,26.375000,46.750000,0
4,2021-01-02,NOP,TOR,-3.375000,99.125000,102.500000,0.396562,0.721500,0.232500,16.812500,53.562500,0.409875,0.779250,0.345875,25.750000,45.875000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,2021-02-19,MIL,OKC,14.319805,121.784091,107.464286,0.498811,0.725398,0.402376,27.690341,49.130682,0.448661,0.737327,0.338399,23.511905,45.327381,0
327,2021-02-19,MIN,TOR,-7.804167,107.504167,115.308333,0.457246,0.765163,0.348392,24.708333,43.666667,0.457096,0.826717,0.398729,25.037500,41.962500,0
328,2021-02-19,NOP,PHO,5.526786,115.080357,109.553571,0.470455,0.746170,0.349732,25.562500,47.312500,0.469179,0.812679,0.339232,25.758929,43.455357,0
329,2021-02-19,HOU,DAL,-4.779004,107.542424,112.321429,0.441956,0.761147,0.331968,22.004545,43.727273,0.462500,0.780732,0.343786,23.142857,42.982143,0
330,2021-02-19,LAC,UTA,1.373260,115.735897,114.362637,0.475423,0.831332,0.413312,24.987179,44.607692,0.469909,0.733268,0.398821,24.004121,48.840659,0

In [18]:
date_time

'2021-02-19'

In [20]:
all_for_ml_test = for_import_ml_df.loc[for_import_ml_df['DATE'] != date_time]
all_for_ml_test

,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-01-02,IND,NYK,18.687500,117.312500,98.625000,0.467562,0.794125,0.334937,28.375000,43.562500,0.429125,0.733750,0.335375,23.000000,46.875000,0
1,2021-01-02,ORL,OKC,1.125000,107.541667,106.416667,0.430917,0.735750,0.313708,20.833333,45.458333,0.452417,0.727000,0.295167,24.166667,50.833333,0
2,2021-01-02,PHI,CHO,-6.041667,106.458333,112.500000,0.424500,0.810375,0.298500,21.708333,49.541667,0.483917,0.660292,0.385125,29.208333,42.500000,1
3,2021-01-02,ATL,CLE,15.104167,127.312500,112.208333,0.475938,0.864250,0.454625,28.625000,46.375000,0.469333,0.627708,0.462125,26.375000,46.750000,0
4,2021-01-02,NOP,TOR,-3.375000,99.125000,102.500000,0.396562,0.721500,0.232500,16.812500,53.562500,0.409875,0.779250,0.345875,25.750000,45.875000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,2021-02-14,DAL,POR,-2.995879,113.157967,116.153846,0.465161,0.760701,0.352688,23.226648,42.006868,0.442543,0.823240,0.384904,19.903846,44.480769,0
317,2021-02-14,PHO,ORL,5.839286,111.875000,106.035714,0.479059,0.823478,0.372487,25.879808,44.815705,0.431113,0.779463,0.343582,22.177198,46.541209,1
318,2021-02-14,SAC,MEM,1.411364,113.925000,112.513636,0.480275,0.755550,0.372800,26.225000,42.750000,0.473466,0.783595,0.373500,29.325000,44.675000,0
319,2021-02-14,DEN,LAL,4.286172,115.493590,111.207418,0.479660,0.770476,0.376978,26.727564,44.240385,0.479990,0.752378,0.364348,24.484890,45.644231,1
320,2021-02-14,LAC,CLE,13.507875,114.966667,101.458791,0.475562,0.830029,0.411537,24.645833,44.487500,0.439456,0.698203,0.338065,22.336538,43.524725,1

In [23]:
end_a = len(all_for_ml_test) + 1
a_ = list(range(1, end_a))
all_for_ml_test['ID'] = a_

<ipython-input-23-9d07a091e6e0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_for_ml_test['ID'] = a_

In [25]:
all_for_ml_test = all_for_ml_test[['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away',
       'HOME_TEAM_WINS']]

In [26]:
all_for_ml_test.to_sql('all_for_ml_test', engine, if_exists='replace', index=False)

In [27]:
with engine.connect() as con:
    con.execute('ALTER TABLE all_for_ml_test ADD PRIMARY KEY ("ID");')

In [8]:
#import dependencies
import sqlalchemy
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# N.B. external config.py file should be formatted like:
# login = 'postgres:password' where password is set to whatever your database password is. Default username is 
# postgres, but change this if you use a different username.
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
# postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
#                 .format(username='postgres',
#                         password='postgres',
#                         ipaddress='localhost',
#                         port=5432,
#                         dbname='flask_deploy'))

postgres_str = 'postgres://umydthrhevlwbv:a166611fc4fda747769900bb51cfb8cbd633cebe3ec13fdfc2180772a9d3bc8d@ec2-18-204-101-137.compute-1.amazonaws.com:5432/d9ugm948kmolua'



# Create the connection
engine = create_engine(postgres_str)
cnx = engine.connect()

In [30]:
end_a = len(for_import_ml_df) + 1
a_ = list(range(1, end_a))
for_import_ml_df['ID'] = a_

In [78]:
for_import_ml_df.columns

Index(['DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away',
       'HOME_TEAM_WINS', 'ID'],
      dtype='object')

In [31]:
for_import_ml_df = for_import_ml_df[['ID', 'DATE', 'HOME_ABBR', 'VISITOR_ABBR', 'MARGIN', 'PTS_home', 'PTS_away',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away',
       'HOME_TEAM_WINS']]

In [28]:
Base = automap_base()
Base.prepare(engine, reflect=True)
print(Base.classes.keys())

['presidents', 'pets', 'box_score_2021', 'full_schedule', 'all_for_ml_test', 'historic', 'for_import_ml', 'predicted_values']

In [20]:
date_time

'2021-02-14'

In [ ]:
historic_df = pd.read_sql("""
SELECT * FROM predicted_values
""", con=engine)

In [ ]:
historic_df = historic_df.round(3)

In [ ]:
historic_df.to_sql('historic', engine, if_exists='replace', index=False)

In [8]:
with engine.connect() as con:
    con.execute('ALTER TABLE historic ADD PRIMARY KEY ("ID");')

In [33]:
for_import_ml_df = for_import_ml_df.round(3)

In [34]:
for_import_ml_df = for_import_ml_df.loc[for_import_ml_df['DATE'] == date_time]

In [92]:
for_import_ml_df = for_import_ml_df.loc[for_import_ml_df['ID'] >= 322]

In [35]:
for_import_ml_df

,ID,DATE,HOME_ABBR,VISITOR_ABBR,MARGIN,PTS_home,PTS_away,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
321,322,2021-02-15,IND,CHI,-3.522,113.204,116.726,0.469,0.781,0.373,26.104,42.233,0.490,0.794,0.377,27.149,43.894,0
322,323,2021-02-15,WAS,HOU,5.130,114.667,109.536,0.466,0.762,0.331,24.875,44.542,0.449,0.745,0.352,23.468,43.909,0
323,324,2021-02-15,NYK,ATL,-9.923,104.281,114.205,0.450,0.761,0.364,20.844,45.656,0.453,0.815,0.337,24.126,46.288,0
324,325,2021-02-15,UTA,PHI,3.293,115.549,112.257,0.454,0.791,0.384,23.859,49.137,0.474,0.788,0.361,21.967,46.033,0
325,326,2021-02-15,GSW,CLE,12.161,114.250,102.089,0.466,0.781,0.371,27.433,44.338,0.441,0.700,0.336,22.518,43.339,0
326,327,2021-02-15,LAC,MIA,9.959,115.736,105.777,0.475,0.831,0.413,24.987,44.608,0.455,0.781,0.337,25.268,42.857,0
327,328,2021-02-15,SAC,BRK,-8.522,113.712,122.234,0.481,0.758,0.367,26.000,42.359,0.499,0.837,0.392,27.422,42.969,0

In [37]:
for_import_ml_df.to_sql('for_import_ml', engine, if_exists='replace', index=False)

In [38]:
with engine.connect() as con:
    con.execute('ALTER TABLE for_import_ml ADD PRIMARY KEY ("ID");')

In [ ]:
#https://stackoverflow.com/questions/30867390/python-pandas-to-sql-how-to-create-a-table-with-a-primary-key.. hmm